@{
    ViewData["Title"] = "Home Page";
}
@model WinUIApp.WebUI.Models.HomeViewModel


<div class="text-center">
    <h1 class="display-4">Welcome to IMDB Drinks</h1>
    <div >
        <h2>Drink of the day:</h2>
        <h3>@Model.DrinkOfTheDay.DrinkName</h3>
        <img src="@Model.DrinkOfTheDay.DrinkImageUrl" />
    </div>
</div>